/*input[type="text"] {text-transform: capitalize;}*/
div[data-bb-type="row"] {margin-top: 30px}

#indicator {display: none; margin: 25% auto;}
.notFound {margin-top: 130px; text-align: center;}

.cell {line-height: 100px; height: 100px; vertical-align: middle;}